/build/
/out/
/cmake-build-*/
/__cmake_systeminformation/
/.cache/
/.vs/
/CMakeUserPresets.json
CMakeCache.txt
CMakeFiles/
Testing/
*.user
*.debug
compile_commands.json
__pycache__/
*.pyc
.DS_Store
Thumbs.db
Desktop.ini
